### October 25, 2023

#### Portfolio Positions

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
files_list = os.listdir("../../../live_portfolio/2023/010_2023/")
files_list.remove(".DS_Store") # Remove Mac's .DS_Store file.

In [3]:
def build_files_url(files_names):
    
    return "https://raw.githubusercontent.com/realspeculator/live_portfolio/main/2023/010_2023/" + files_names

def get_net_lq_value(url):
    
    df1 = pd.read_csv(url)
    net_lq = df1[df1["DATE"] == "Net Liquidating Value"].iloc[0,1]
    net_lq = float(net_lq.replace("$", "").replace(",", ""))
    
    return net_lq

urls = list(map(build_files_url, files_list))

In [4]:
df1 = pd.read_csv(urls[0])

In [5]:
eq_start = np.where(df1['DATE'] == "Equities")[0][0] + 1

if np.where(df1['DATE'] == "Futures")[0].size == 0:
    eq_end = (np.where(df1['DATE'] == "Profits and Losses")[0][0])
else:
    eq_end = (np.where(df1['DATE'] == "Futures")[0][0]) - 1
    

if np.where(df1['DATE'] == "Futures")[0].size == 0:
    fut_start = (np.where(df1['DATE'] == "Profits and Losses")[0][0])
else:
    fut_start = np.where(df1['DATE'] == "Futures")[0][0] + 1
    

if np.where(df1['DATE'] == "Futures")[0].size == 0:
    fut_end = (np.where(df1['DATE'] == "Profits and Losses")[0][0])
else:
    fut_end = np.where(df1['DATE'] == "Profits and Losses")[0][0] - 2
 
# Trades Done Today
trades_done_today_start = np.where(df1['DATE'] == "Account Trade History")[0][0]

if np.where(df1['DATE'] == "Futures")[0].size == 0:
    fut_start = (np.where(df1['DATE'] == "Profits and Losses")[0][0])
else:
    fut_start = np.where(df1['DATE'] == "Futures")[0][0] + 1

trades_done_today_end = np.where(df1['DATE'] == "Account Trade History")[0][0]

In [6]:
pos_df = df1.iloc[eq_start+1:eq_end]
pos_df.columns = df1.iloc[eq_start].values
pos_df = pos_df.dropna(axis=1,how='all')

In [7]:
pos_df

,Symbol,Description,Qty,Trade Price,Mark,P/L Day,P/L Open,P/L %,Mark Value
81,CSCO,CISCO SYSTEMS INC COM,200000,52.2,52.4,"($122,000.00)","$40,000.00",+0.38%,"$10,480,000.00"
82,JNJ,JOHNSON & JOHNSON COM,-70000,153,151.59,"($25,200.00)","$98,700.00",+0.92%,"($10,611,300.00)"
83,NFLX,NETFLIX INC COM,10000,412.99,411.6,"($21,300.00)","($13,900.00)",-0.34%,"$4,116,000.00"
84,PEP,PEPSICO INC COM,-55000,160,162.51,"($17,600.00)","($138,050.00)",-1.57%,"($8,938,050.00)"
85,NKE,NIKE INC COM CL B,-50000,102.56,103.54,"$82,000.00","($49,000.00)",-0.96%,"($5,177,000.00)"
86,TSLA,TESLA INC COM,-25000,216.206,212.63,"$85,150.00","$89,400.00",+1.65%,"($5,315,750.00)"
87,AAPL,APPLE INC COM,-100000,174.1,171.21,"$223,000.00","$289,000.00",+1.66%,"($17,121,000.00)"
88,NaN,OVERALL TOTALS,NaN,NaN,NaN,"$204,050.00","$316,150.00",+0.51%,"($32,567,100.00)"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
fut_df = df1.iloc[fut_start+1:fut_end]
fut_df.columns = df1.iloc[fut_start].values
fut_df = fut_df.dropna(axis=1,how='all')
fut_df

Empty DataFrame
Columns: []
Index: []